<%= layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3 class="mb-4">Create A New Listing</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Grouping all inputs into one object called listing -->

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Enter Title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          rows="4"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Update Listing Image</label>
        <input
          type="file"
          id="image"
          name="listing[image][url]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            name="listing[price]"
            placeholder="Enter Price"
            class="form-control"
            min="0"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please choose a username.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please choose a username.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Goa,India"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>

      <button type="submit" class="btn btn-dark add-btn">Add Listing</button>
      <br />
    </form>
  </div>
</div>
