<%= layout("layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="post">
      <div class="mb-3">
        <label for="username" class="form-label needs-validation" novalidate>Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label needs-validation" novalidate>Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label needs-validation" novalidate>Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
      <button class="btn btn-danger">SignUp</button>
    </form>
  </div>
</div>
